<div class="profile_<%= i%2 %>" id="id_<%= profile.id %>">
  <div class="profile_info">
    <div class="image_thumbnail">
    <%= link_to display_main_photo_thumb(profile), profile %>
    </div>
    <div class="user_name"><%= link_to profile.nick_name, profile %></div>
    <div class="short_bio">
      <%= profile.age %> / <%= profile.sex %> / <%= profile.zipcode %> <br>
      <%= profile.relationship_status %> / Looking for: <%= profile.interested_in %>
    </div>
    <div class="hide_me" id="hide_id_<%= profile.id %> %>">
      <%= render 'profiles/actions', object: profile %>
    </div>
    <% if current_user.admin? %>
      <%= link_to "Delete #{profile.nick_name}", profile, method: :delete, 
          class: "btn btn-danger btn-small", confirm: "Are you sure?,", remote: true %>
    <% end %>
  </div>
  <div class= "about_me"><strong>About me: </strong><%= truncate(profile.about_me, length: 300) %></div>
</div>