<% title("View all profiles!") %>

<% content_for :sidebar do %>
  <%= @side_profiles.count %> Profiles <br>
  <%= link_to "Test1", '#' %><br>
  <%= link_to "Test1", '#' %><br>
  <%= link_to "Test1", '#' %><br>
<% end %>


<h1>Listing all user profiles</h1>

<%= will_paginate %>
<ul class="profile_list">
<% @profiles.each_with_index do |profile, i| %>
  <li><%= render profile, i: i %></li>
<% end %>
</ul>
<%= will_paginate %>


