<% title("#{@profile.nick_name}'s profile") %>

<h2>
<% if @profile.has_main_photo? %>
	<%= image_tag @profile.main_photo.avatar.url(:medium) %>
<% else %>
	<%= image_tag 'nopicture_full.png' %>
<% end %>
<%= @profile.nick_name %><br>
<% if current_user.profile == @profile %>
	(<%= link_to "Edit your photos", edit_profile_photo_path([@profile]) %>)
<% else %>
    <% if current_user.admin? %>
      <%= link_to "Delete #{@profile.nick_name}", @profile, method: :delete, 
          class: "btn btn-danger btn-small", confirm: "Are you sure?" %>
    <% end %>
	<% if !current_user.profile.sent_wink?(@profile.id) %>
	<span class="new_wink">
		<%= render 'shared/send_wink', object: @profile %>
	</span>
	<% else %>
		<%= render 'shared/sent_wink', object: @profile %>
	<% end %>
	<% if !current_user.profile.favorited?(@profile.id) %>
	<span class="favorite">
		<%= render 'shared/favorite_button', object: @profile %>
	</span>
	<% else %>
	<span class="favorite">
		<%= render 'shared/favorited_button', object: @profile %>
	</span>
	<% end %>
<% end %>
</h2>
<span class="profile_header"><%= @profile.age %> / <%= @profile.sex %> /
<%= @profile.zipcode %> / <%= @profile.relationship_status %> / Interested in: <%= @profile.interested_in %></span>
<br><br>

<h3>About me:</h3>
<p><%= @profile.about_me %></p><br>

<h3>What I'm good at:</h3>
<p><%= @profile.good_at %></p><br>

<h3>You should message me if:</h3>
<p><%= @profile.message_me_if %></p><br>
<% sidebar_main_title("Details") %>
<% sidebar_sub_title(@profile.nick_name) %>
<%= render 'shared/profile_info', object: @profile %>

<% content_for(:sidebar2) do %>

<% end %>
<% unless current_user.profile == @profile %>
	<%= render 'shared/send_message', object: @profile %>
<% end %>