<% content_for(:sidebar) do %>
	<li>Height: <%= object.formatted_height %></li>
	<li>Ethnicity: <%= object.ethnicity %></li>
	<li>Offspring: <%= object.offspring  %></li>
	<li>Body Type: <%= object.body_type %></li>
	<li>Smokes: <%= object.smokes %></li>
	<li>Drinks: <%= object.drinks  %></li>
	<li>Religion: <%= object.religion %></li>
	<li>Job: <%= object.job %></li>
	<li>Language: <%= object.language %></li>
	<li>Drugs: <%= object.drugs %></li>
	<li>Job: <%= object.job %></li>
	<li>Income: <%= object.income %></li>
<% end %>