<% title("Conversation with #{@other_user.nick_name}") %>
<% sidebar_main_title("Details: #{@other_user.nick_name}") %>
<% sidebar_sub_title("#{@other_user.age} / #{@other_user.sex} /
#{@other_user.zipcode} /  #{@other_user.relationship_status}") %>
<%= render 'shared/profile_info', object: @other_user %>


<p class="profile">
	<h3>Conversation with <%= @other_user.nick_name %> 
		<%= link_to display_main_photo_thumb(@other_user), @other_user %>
	</h3><br>
</p>
<ul class="profile_messages">	
	<p class="profile">
		<% @current_message.replies.includes(:sender).each do |f| %>
		<li class="message_list well">
			<%= link_to display_main_photo_mini(f.sender), f.sender %>
			<span class="time_stamp">
				<%= sent_or_received(f) %> <%= distance_of_time_in_words(f.created_at, Time.now.utc) %> ago.
			</span>
			<span class="sender_name"><%= f.sender.nick_name %></span>
			<div class="message_body" id="message_id_<%= @other_user==f.sender ? 1 : 0 %>">
				<p class="message"><%= f.body %></p>
			</div>
		</li><br>	
		<% end %>
		<li class="message_list well">
			<%= link_to display_main_photo_mini(@current_message.sender), @current_message.sender %>
			<span class="time_stamp">
				<%= sent_or_received(@current_message) %> 
				<%= distance_of_time_in_words(@current_message.created_at, Time.now.utc) %> ago.
			</span>
			<span class="sender_name"><%= @current_message.sender.nick_name %></span>
			<div class="message_body" id="message_id_<%= @other_user==@current_message.sender ? 1 : 0 %>">
				<p class="message"><%= @current_message.body %></p>
			</div>
		</li><br>	
	</p>
	<%= render 'shared/send_message', object: @other_user %>
</ul>

