<% title("No Fat Chicks:  Welcome!") %>
<% sidebar_main_title("Search For New Members") %>
<% sidebar_sub_title("Select criteria") %>
<% sidebar2_main_title("Newest members that fit your criteria") %>
<% sidebar2_sub_title("greet them kindly!") %>

<% content_for(:sidebar) do %>
	<%= render 'shared/search', object: @search %>
<% end %>
	<% if signed_in? %>
	<% content_for(:sidebar2) do %>
		<%= render @new_members, i: 0 %>
	<% end %>
<% end %>

<% if signed_in? %>
	<h1>Welcome back <%= @current_user.nick_name %></h1>
	<% if !current_user.profile.nil? %>
	<span><%= link_to "Your profile", current_user.profile %></span>
	<% else %>
	<span><%= link_to "Create a profile!", new_profile_path %></span>
	<% end %><br>
	<p>You have been viewed <%= pluralize(@viewed_count, "time") %></p><br>
	<p>You have been favorited by <%= pluralize(@favorited_by_count, "person") %></p><br>
<!-- 	<span><%= render 'shared/lorem' %></span> -->
	<ul class="feed_items">
		<% @feed_items.each do |feed_item| %>
			<li><%= render_correct_item_type(feed_item) %><li>
		<% end %>
	</ul>
<% else %>
	<h2><%= link_to 'NEW USERS SIGN UP NOW FOR FREE!', new_user_path %></h2>
<% end %>
<br>