<% title("Dating Site- Welcome!") %>

<% content_for(:sidebar) do %>
	<%= 5.times do |f|  %>
	<span>the cake is not a lie</span><br>
	<% end %>
<% end %>
<% content_for(:sidebar2) do %>
	<%= 5.times do |f|  %>
	<span>the cake is a lie <%= f %></span><br>
	<% end %>
<% end %>

<% if signed_in? %>
	<h2><%= "Welcome back #{current_user.nick_name}" %></h2>
	<% if !current_user.profile.nil? %><span><%= link_to "Your profile", current_user.profile %></span><% else %>
		<span><%= link_to "Create a profile!", new_profile_path %></span><% end %>
<% else %>
	<h2><%= link_to 'NEW USERS SIGN UP NOW FOR FREE!', new_user_path %></h2>
<% end %>
<br>
asdf