<% title("Search results") %>
<% sidebar_main_title("Preferences Form") %>
<% sidebar_sub_title("Select criteria") %>
<% sidebar2_main_title("Newest members that fit your criteria") %>
<% sidebar2_sub_title("greet them kindly!") %>
<% content_for :sidebar do %>
	<%= render 'shared/search', object: @search %>
<% end %>

<% if @search.profiles.nil? %>
<h1>Search returned no results.  :(</h1>
<% else %>
<h1>Search Results: Found <%= @profiles_count %> profiles. </h1>

<%= will_paginate @profiles %>

<% @profiles.each_with_index do |f, i| %>
	<%= render f, i: i%2 %>
<% end %>

<%= will_paginate @profiles %>

<% end %>

