<% title("Edit your photos") %>
<% sidebar2_main_title("Upload new image") %>
<% sidebar2_sub_title("select a file") %>
<%= content_for(:sidebar2) do %>
	<%= render 'upload', object: @profile %>
<% end %>

<h1>Edit your photos:</h1> <br>

<%= form_for current_user.profile, method: :put do |f| %>

  <%= f.fields_for :photos do |builder| %>
    <fieldset>
	   	<div class="photo">
	      <%= image_tag(builder.object.avatar.url(:medium)) %><br>
	      <%= builder.check_box :_destroy %>
  		  <%= builder.label "Delete this photo" %>
	    </div>
	    <div class="field">
	        <%= builder.label :caption %><br />
	        <%= builder.text_field :caption %>
	    </div>
	    <div class="field">
	    	<%= builder.label "Make this your primary photo (select only 1)" %>
	    	<%= builder.check_box :primary %>
	    </div>
    </fieldset>
  <% end %>

	<div class="field">
		<%= f.submit %>
	</div>
<% end %>

