<div class="navbar">
  <div class="navbar-inner">
      <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Dating- Home", root_url, class: "brand" %>
      <div class="container nav-collapse">
        <ul class="nav">
            <li><%= link_to "Search For Matches!", main_app.new_search_path if current_user && current_user.profile %></li>
            <li><%= link_to "Blog", main_app.blogs_path  %></li>
            <li><%= link_to "Forums", forem.root_path %></li>
            <% if current_user.forem_admin %>
            <li><%= link_to "Administrate", forem.admin_root_url %></li>
            <% end %>
        </ul>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li>
              <% if !current_user.profile.nil? && current_user.profile.valid? %>
            </li>
              <li class="dropdown" id="connections">
                <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" 
                  href="path/to/page.html">
                  All Connections
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <%= link_to "View All Connections", root_path %>
                  <%= link_to "Messages", main_app.private_messages_path %>
                  <%= link_to "Your Favorites", main_app.favorites_path %>
                  <%= link_to "Winks", main_app.winks_path %>
                  <%= link_to "Profiles Viewed", 
                      main_app.profile_views_path(current_user.profile) %>
                </ul>
              </li>                          
              <li class="dropdown" id="profile">
                <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" 
                  href="path/to/page.html">
                  Profile
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <%= link_to "View your profile", main_app.
                    profile_path(current_user.profile) %>
                  <%= link_to "Edit your profile", main_app.
                    edit_profile_path(current_user.profile) %>
                </ul>
              </li>            
                <% else %>
                <li><%= link_to "Create a Profile", main_app.new_profile_path %></li>
                <% end %>
            <li><%= link_to "Sign out", main_app.logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign in", main_app.sign_in_path %></li>
            <li><%= link_to "Sign up?", main_app.new_user_path %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>