<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/header' %>
  <body>

    <%= render 'layouts/navlinks' %>

    <div class="container">
      <%= render 'layouts/display_flash' %>
    
      <div class="content">
        <div class="row">
          <div class="span9">
              <%= yield %>
          </div>
        <%= render 'shared/sidebar' if content_for?(:sidebar) %>
        <%= render 'shared/sidebar2' if content_for?(:sidebar2) %>
        </div><!--/row-->
      </div><!--/content-->
          <br>
      <%= render 'layouts/footer' %>

    </div> <!-- /container -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <%= debug(params) if Rails.env.development? %>

  </body>
</html>
